## Introducción a SQL en Python

1. SQL Lite Python

In [22]:
import sqlite3

connection = sqlite3.connect('Databases/movies.db')
cursor = connection.cursor()
# TODO: Creamos una tabla dentro del archivo de database "movies.db"
cursor.execute(''' CREATE TABLE IF NOT EXISTS Movies
    (Title TEXT, Director TEXT, Year INT)  ''')

connection.commit()
connection.close()

Vamos a modificar ahora la tabla que creamos

In [23]:
import sqlite3

connection = sqlite3.connect('Databases/movies.db')
cursor = connection.cursor()
# TODO: Añadimos información a la tabla creada previamente en "movies.db"

cursor.execute("INSERT INTO Movies VALUES ('Taxi Driver', 'Martin Scorsese', 1976)")
#cursor.execute("SELECT * FROM Movies")

famous_films = [('Pulp Fiction', 'Quentin Tarantino', 1994), ('Back to the Future', 'Steven Spielberg', 1985),
                ('Moonrise Kingdom', 'Wes Anderson', 2012)]

cursor.executemany('INSERT INTO Movies VALUES (?,?,?)', famous_films)

records = cursor.execute("SELECT * FROM Movies")

print(cursor.fetchall())

for record in records:
    print(record)

connection.commit()
connection.close()

[('Taxi Driver', 'Martin Scorsese', 1976), ('Pulp Fiction', 'Quentin Tarantino', 1994), ('Back to the Future', 'Steven Spielberg', 1985), ('Moonrise Kingdom', 'Wes Anderson', 2012)]

Ahora podemos filtrar datos de la tabla

In [24]:
connection = sqlite3.connect('Databases/movies.db')
cursor = connection.cursor()

release_year = (1985,)

cursor.execute("SELECT * FROM Movies WHERE Year = ?", release_year)

print(cursor.fetchall())

connection.commit()
connection.close()

[('Back to the Future', 'Steven Spielberg', 1985)]

2. SQLAlchemist, es un método de OBJECT RELATIOTAL MAPPING

In [10]:
#pip install sqlalchemy
import sqlalchemy as db

engine = db.create_engine('sqlite:///Databases/movies.db') #Permite tener múltiples conexiones de bases de datos

connection = engine.connect()

metadata = db.MetaData()

movies = db.Table('Movies', metadata, autoload = True, autoload_with = engine)

#Hacer una query para, por ejemplo, acceder a la información
query = db.select([movies])

result_proxy = connection.execute(query)

result_set = result_proxy.fetchall()

print(result_set[0])
print(result_set[:-1])

#Se pueden hacer querys para acceder a información filtrada
query_2 = db.select([movies]).where(movies.columns.Director == "Martin Scorsese" )
result_proxy = connection.execute(query_2)
result_set = result_proxy.fetchall()
print(result_set)

#Se pueden hacer querys para insertar información en las tablas
query_3 = movies.insert().values(Title = 'La desaparición de Suzumiya Haruhi', Director = 'Yasuhiro Takemoto', Year = '2010')
connection.execute(query_3)
query = db.select([movies])
result_proxy = connection.execute(query)
result_set = result_proxy.fetchall()
print(result_set)

('Taxi Driver', 'Martin Scorsese', 1976)
[('Taxi Driver', 'Martin Scorsese', 1976), ('Pulp Fiction', 'Quentin Tarantino', 1994), ('Back to the Future', 'Steven Spielberg', 1985)]
[('Taxi Driver', 'Martin Scorsese', 1976)]
[('Taxi Driver', 'Martin Scorsese', 1976), ('Pulp Fiction', 'Quentin Tarantino', 1994), ('Back to the Future', 'Steven Spielberg', 1985), ('Moonrise Kingdom', 'Wes Anderson', 2012), ('La desaparición de Suzumiya Haruhi', 'Yasuhiro Takemoto', 2010)]

Ejercicio: 

a. Crear una Base de Datos, usando SQLite o SQLalchemy. Agregar una tabla con 'User_id' 'First Name', 'Last Name', 'Email Address'

b. Crear un Query para obtener los 'Email Address' de la tabla

In [2]:
import sqlite3

connection = sqlite3.connect('Databases/users.db')
cursor = connection.cursor()
# TODO: Creamos una tabla dentro del archivo de database "users.db"
cursor.execute(''' CREATE TABLE IF NOT EXISTS Users
    (User_id INTEGER PRIMARY KEY AUTOINCREMENT, FirstName TEXT, LastName TEXT, EmailAddress TEXT)  ''')
# El PRIMARY KEY sirve para luego relacionar con otras tablas, y el AUTO INCREMENT asigna un numero automaticamente

users = [('Cristian', 'Hernandez', 'cristian_klndy2@outlook.com'), ('Angelica', 'Angarita', 'nose1@outlook.com'),
                ('Martha', 'Cely', 'mar.celybarrrera@gmail.com'), ('Jose Omar', 'Hernandez', 'jomar1@gmail.com'),
                ('Dallendys', 'Maestre', 'nose2@outlook.com')]

cursor.executemany('INSERT INTO Users(FirstName, LastName, EmailAddress) VALUES (?,?,?)', users)
records = cursor.execute("SELECT EmailAddress FROM Users")
print(cursor.fetchall())

connection.commit()
connection.close()

[('cristian_klndy2@outlook.com',), ('nose1@outlook.com',), ('mar.celybarrrera@gmail.com',), ('jomar1@gmail.com',), ('nose2@outlook.com',)]

In [3]:
import sqlalchemy as db

engine = db.create_engine('sqlite:///Databases/users.db')
connection = engine.connect()
metadata = db.MetaData()
users = db.Table('Users', metadata, autoload = True, autoload_with = engine)

#Create a table in Sqlalchemy
#users = db.Table('Users', metadata, db.Column('User_id', db.Integer, primary_key = True)
#                 db.Column('FirstName', db.Text)
#                 db.Column('LastName' , db.Text)
#                 db.Column('EmailAddress', db.Text))

query_1 = users.insert().values([{'User_id': '6', 'FirstName': 'Keren', 'LastName': 'Maestre', 'EmailAddress': 'keren.maestre@gmail.com'}])
result_proxy = connection.execute(query_1)

query_2 = db.select([ users.columns.EmailAddress ])
result_proxy_2 = connection.execute(query_2)
result_set = result_proxy_2.fetchall()
print(result_set)

[('cristian_klndy2@outlook.com',), ('nose1@outlook.com',), ('mar.celybarrrera@gmail.com',), ('jomar1@gmail.com',), ('nose2@outlook.com',), ('keren.maestre@gmail.com',)]